/Common.Core/appsettings.json
/Common.Core/bin
/Common.Core/obj
/.vs/Common.Core.slnx/FileContentIndex/04b85ccd-7558-4626-9b00-52c850ffb4b1.vsidx
/.vs/Common.Core.slnx/FileContentIndex/0e9ded6a-56bd-4fee-8d4b-2a3a29c3e0ad.vsidx
/.vs/Common.Core.slnx/FileContentIndex/2365036a-3c1b-4476-a311-04ad01018274.vsidx
/.vs/Common.Core.slnx/FileContentIndex/42a9f073-e84b-4aab-9a3a-da1c64270c0e.vsidx
/.vs/Common.Core.slnx/FileContentIndex/48be8f12-fe44-428d-9dc2-98e7ffbdbe21.vsidx
/.vs/Common.Core.slnx/FileContentIndex/56af2b52-f328-4da0-ba8f-10f7b943e599.vsidx
/.vs/Common.Core.slnx/FileContentIndex/81518dc4-0636-40fa-b423-da73275ed5b8.vsidx
/.vs/Common.Core.slnx/FileContentIndex/9dd83d98-24aa-4d75-965a-7510dc2160a1.vsidx
/.vs/Common.Core.slnx/FileContentIndex/a8b4dbae-2693-40e1-b996-21c703067b39.vsidx
/.vs/Common.Core.slnx/FileContentIndex/d8dd8d1d-34b4-479e-b1aa-f6f48aefbd42.vsidx
